root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yaml,*.yml,*.json,*.md}]
indent_style = space
indent_size = 2

[src/schema.graphql]
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false
